<div class="container d-flex flex-row" id="confirmation-window">

  <div class="media-body text-center p-2">

    <h5 class="mt-0 mb-1">THANK YOU! BON APPETIT !!</h5>
    <h5 class="mt-0 mb-1"><%=info.restaurantInfo.name%></h5>
    <p><%=info.restaurantInfo.description%></p>
    <p class='restaurant_email'><%=info.restaurantInfo.email_address%></p>
    <p class='restaurant_phone'><%=info.restaurantInfo.phone_number%></p>
    <p class='restaurant_phone' id='pickup_time'></p>

  </div>

</div>

