<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="Midterm Project" content="">
<meta name="Renato - Dylan - Piotr" content="">


<title>Go To Town</title>

<!-- Bootstrap  CSS -->

<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<link rel="stylesheet" href="/styles/index.css" type="text/css" />
<link rel="stylesheet" href="/styles/login_box.css" type="text/css" />
<link rel="stylesheet" href="/styles/rest_menu.css" type="text/css" />




<!--  Riquirements  -->

<script type="text/javascript" src="vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>







