<div class="container-menu">

  <div class="row">

    <div class="col">

      <h3> MENU </h3>

      <table class="table table-hover table-bordered">

        <thead>

          <tr>

              <th>Product</th>

              <th>Quantity</th>

              <th class="text-center">Price</th>

              <th class="text-center">Total</th>

              <th> </th>

          </tr>

        </thead>

        <tbody>

          <tr class="order-line" style="visibility: hidden">

            <td >

              <div >

                <div >

                  <h5>Empty</h5>

                </div>

              </div>
            </td>

            <td class="col-sm-1 col-md-1" style="text-align: center">

               <input type="text" class="form-control order-quantity" value=''>

            </td>

            <td class="col-sm-1 col-md-1 text-center order-price"><strong></strong></td>

            <td class="col-sm-1 col-md-1 text-center order-total"><strong></strong></td>

            <td class="col-sm-1 col-md-1">

              <button type="button" class="remove-button">

                  <span class="glyphicon glyphicon-remove"></span> Remove

              </button>

            </td>

          </tr>

          <tr>

            <td>   </td>

            <td>   </td>

            <td>   </td>

            <td><h3>Cart Total</h3></td>

            <td class="text-right cart-total"><h3><strong>$0</strong></h3></td>

          </tr>

          <tr>

            <td>   </td>

            <td>   </td>

            <td>   </td>

            <td>   </td>

            <td>

              <button type="button" class="btn btn-default" action="/restaurant/menu/submit" method="POST">

                <span class="glyphicon glyphicon-play stripe-button"></span>

                <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button "
                            data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                            data-amount="999"
                            data-name="Stripe.com"
                            data-description="Example charge"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto"
                            data-zip-code="true">
                </script>

              </button>

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>
