<div class="container-menu">

  <div>

    <div class="cart">

      <h3> CART </h3>

      <table class="table table-hover table-bordered">

        <thead>

          <tr>

              <th class="col-7"><h5>Product</h5></th>

              <th>Quantity</th>

              <th class="col-2 text-center">Price</th>

              <th class="col-2 text-center">Total</th>

              <th class="col-1"> </th>

          </tr>

        </thead>

        <tbody class="cart-body">

          <tr class="order-line" style="visibility: hidden">

            <td >


                <div >

                  <h5 class="order-name">Empty</h5>

                </div>

            </td>

            <td style="text-align: center">

               <input type="text" class="form-control order-quantity" value=''>

            </td>

            <td class="text-center order-price"><strong></strong></td>

            <td class=" text-center order-total"><strong></strong></td>

            <td class="">

              <button type="button" class="remove-button btn btn-lg btn-primary btn-block">

                  <span class="glyphicon glyphicon-remove"></span> Remove

              </button>

            </td>

          </tr>

          <tr class="Table-no-border">

            <td>   </td>

            <td>   </td>

            <td>   </td>

            <td><h3>Cart Total</h3></td>

            <td class="text-text-right cart-total"><h3><strong>$0</strong></h3></td>

          </tr>

        </tbody>

      </table>

          <button class="glyphicon glyphicon-play" id="customButton">Purchase</button>


    </div>

  </div>

  </div>


