<div class="top">

  <div class="container d-flex flex-row">

    <img src="https://www.saratogarestaurants.com/buzz/wp-content/uploads/sites/60/2016/12/primediningroom.jpg" class="media-object img-thumbnail p-2 ">

    <div class="media-body p-2">

      <h5 class="mt-0 mb-1"><%=info.restaurantInfo.name%></h5>
      <p><%=info.restaurantInfo.description%></p>
      <p class='restaurant_email'><%=info.restaurantInfo.email_address%></p>
      <p class='restaurant_phone'><%=info.restaurantInfo.phone_number%></p>

    </div>

  </div>

</div>

