<!DOCTYPE html>
<html lang="en">

<head>
<script type="text/javascript" src="/vendor/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/scripts/charge.js"></script>
</head>
<body>
<p>Hello</p>
<p>
<%for(key in values){%>
<%=key%>
<%=values[key]%>
<%}%>
</p>
</body>
</html>

