<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/navbar %>

    <div class="container-fluid"   id="top">


      <div class="row">

        <div class="col">

          <h2 class="text-center" >Order From Local Restaurants You Love</h2>

        </div>

      </div>

    </div>


    <div class="container-fluid photo" >

      <div class="row">

        <div class="col-6">

          <% for (let restaurant in info) {%>

            <form class="restaurant" id="register" method="GET" action="/restaurant/<%=info[restaurant].id%>/menu">

              <button class="redirect" type="submit">

                <img  src="..." alt="Generic placeholder image">

                <h5> <%= [restaurant] %></h5>

                <%= info[restaurant].description %>

              </button>

            </form>

          <%} %>

        </div>

        <div class="col-4">

          <% include ./partials/login_box %>

        </div>

      </div>

    </div>


    <% include ./partials/bootstrap %>

  </body>

</html>
















