<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Go To Town</title>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="../public/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/login_from.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/index.css" type="text/css" />




    <!-- Bootstrap riquirements  -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">




                <h1>Go to Town</h1>
                <h2>Order From Local Restaurants You Love</h2>

            </div>

        </div>

    <div class="padding">

        <div class="container-fluid">

            <div class="row">

                <div class="col-8">

                      <ul class="list-group">
                        <li class="media my-4">
                          <img class="mr-3" src="..."  "alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1">RESTAURANT 1 </h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                          </div>
                        </li>
                        <li class="media my-4">
                          <img class="mr-3" src="..." alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1">RESTAURANT 2</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                          </div>
                        </li>
                        <li class="media my-4">
                          <img class="mr-3" src="..." alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1">RESTAURANT 3</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                          </div>
                        </li>
                         <li class="media my-4">
                          <img class="mr-3" src="..." alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1">RESTAURANT 4</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                          </div>
                        </li>
                         <li class="media my-4">
                          <img class="mr-3" src="..." alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1">RESTAURANT 5</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                          </div>
                        </li>
                         <li class="media my-4">
                          <img class="mr-3" src="..." alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1">RESTAURANT 6</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                          </div>
                        </li>
                      </ul>

                </div>

                <div class="col-4">
                  <div class="wrapper">
                    <form class="form-signin" method="POST" action="/login">
                      <h2 class="form-signin-heading">Please login</h2>
                      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
                      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                      <label class="checkbox">
                        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                      </label>
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    </form>
                  </div>
                </div>
               </aside>

</div>

    <!-- Bootstrap riquirements  -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
