<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="../public/scripts/creating-order.js"></script>
  </head>

  <body>

 <div>  restaurant menu</div>
 <div>/restaurant/:id/menu</div>
        <h2 class="description">eat me</h2>

      <form class="fooditem" id="burger" method="POST" action="/">

        <label for="inputName" class="sr-only">burger</label>
        <button class="food" type="submit">add</button>
      </form>

     </body>
</html>