<!DOCTYPE html>


<html lang="en">

    <head>
          <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

          <title>Go To Town</title>

          <!-- Bootstrap CSS -->

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <link rel="stylesheet" href="../public/vendor/normalize-4.1.1.css" type="text/css" />
          <link rel="stylesheet" href="../public/vendor/border-box.css" type="text/css" />
          <link rel="stylesheet" href="../public/styles/layout.css" type="text/css" />
          <link rel="stylesheet" href="../public/styles/login_from.css" type="text/css" />
          <link rel="stylesheet" href="../public/styles/cart.css" type="text/css" />





          <!-- Bootstrap riquirements  -->

          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

          <script type="text/javascript" src="../public/vendor/jquery-3.0.0.js"></script>
          <script type="text/javascript" src="../public/scripts/app.js"></script>


    </head>

    <body>

        <div id="top">
            <div class="container d-flex flex-row">
                <img src="https://www.saratogarestaurants.com/buzz/wp-content/uploads/sites/60/2016/12/primediningroom.jpg" class="media-object img-thumbnail p-2 ">
                  <div class="media-body p-2">
                      <h5 class="mt-0 mb-1">RESTAURANT 4</h5>
                      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                  </div>
            </div>
        </div>

        <div class="container menu">

            <div class="row">

                <div class="col-sm-12 col-10">
                    <p> MENU </p>
                    <table class="table table-hover">

                      <thead>
                          <tr>
                              <th>Product</th>
                              <th>Quantity</th>
                              <th class="text-center">Price</th>
                              <th class="text-center">Total</th>
                              <th> </th>
                          </tr>
                      </thead>

                      <tbody>
                          <tr>
                              <td class="col-sm-8 col-md-6">
                              <div class="media">

                                  <div class="media-body">
                                      <h5 class="media-heading">Product name</h5>
                                  </div>
                              </div>
                              </td>
                              <td class="col-sm-1 col-md-1" style="text-align: center">
                              <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                              </td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
                              <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>Add
                                </button>
                              </td>
                          </tr>
                          <tr>
                              <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="media-heading">Product name</h5>
                                    </div>
                                </div>
                              </td>
                              <td class="col-sm-1 col-md-1" style="text-align: center">
                              <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                              </td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
                              <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Add
                                </button>
                              </td>
                          </tr>
                           <tr>
                              <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="media-heading">Product name</h5>
                                    </div>
                                </div>
                              </td>
                              <td class="col-sm-1 col-md-1" style="text-align: center">
                              <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                              </td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
                              <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Add
                                </button>
                              </td>
                          </tr>
                           <tr>
                              <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="media-heading">Product name</h5>
                                    </div>
                                </div>
                              </td>
                              <td class="col-sm-1 col-md-1" style="text-align: center">
                              <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                              </td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
                              <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Add
                                </button>
                              </td>
                          </tr>
                           <tr>
                              <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="media-heading">Product name</h5>
                                    </div>
                                </div>
                              </td>
                              <td class="col-sm-1 col-md-1" style="text-align: center">
                              <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                              </td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
                              <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Add
                                </button>
                              </td>
                          </tr>
                           <tr>
                              <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="media-heading">Product name</h5>
                                    </div>
                                </div>
                              </td>
                              <td class="col-sm-1 col-md-1" style="text-align: center">
                              <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                              </td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
                              <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Add
                                </button>
                              </td>
                          </tr>

                      </tbody>

                    </table>

                </div>

            </div>

        </div>

        <div class="container cart">

            <p> CART </p>

            <div class="row">

                <div class="col-sm-12 col-10">
                    <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Product</th>
                              <th>Quantity</th>
                              <th class="text-center">Price</th>
                              <th class="text-center">Total</th>
                              <th> </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="col-sm-8 col-md-6">
                              <div class="media">

                                  <div class="media-body">
                                      <h5 class="media-heading">Product name</h5>
                                  </div>
                              </div></td>
                              <td class="col-sm-1 col-md-1" style="text-align: center">
                              <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                              </td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$4.87</strong></td>
                              <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td>
                              <td class="col-sm-1 col-md-1">
                              <button type="button" class="btn btn-danger">
                                  <span class="glyphicon glyphicon-remove"></span> Remove
                              </button></td>
                          </tr>
                          <tr>
                            <td class="col-md-6">
                            <div class="media">

                                <div class="media-body">
                                    <h5 class="media-heading">Product name</h5>

                                </div>
                            </div></td>
                            <td class="col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                            </td>
                            <td class="col-md-1 text-center"><strong>$4.99</strong></td>
                            <td class="col-md-1 text-center"><strong>$9.98</strong></td>
                            <td class="col-md-1">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5></h5></td>
                            <td class="text-right"><h5><strong></strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Subtotal</h5></td>
                            <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Total</h3></td>
                            <td class="text-right"><h3><strong>$31.53</strong></h3></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                            <button type="button" class="btn btn-default" action="your-server-side-code" method="POST">
                                <span class="glyphicon glyphicon-play stripe-button"></span>
                                <script
                                  src="https://checkout.stripe.com/checkout.js" class="stripe-button "
                                  data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                                  data-amount="999"
                                  data-name="Stripe.com"
                                  data-description="Example charge"
                                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                  data-locale="auto"
                                  data-zip-code="true">
                                </script>
                            </button>
                            </td>
                        </tr>
                  </tbody>

            </table>

        </div>

        <div class="col-4 login-box">

            <div class="wrapper">

                <form class="form-signin">
                    <h2 class="form-signin-heading">Please login</h2>
                    <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
                    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                    <label class="checkbox">
                    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                    </label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>

            </div>

        </div>

            <div class="btn-top">
                <button type="button"  class="btn btn-outline-primary btn-top"><a href="#top">Back to top</a></button>
            </div>

        </div>

    </body>

</html>














