<!DOCTYPE html>

<html lang="en">

  <head>

    <% include ./partials/head %>

  </head>

  <body>

      <% include ./partials/navbar %>

    <div>

    <div>

      <% include ./partials/rest_info %>

    </div>

    <div class="row align-items-center">

      <div class="col-12 menu">

        <% include ./partials/rest_menu %>

      </div>

      <div class="col-12 cart">

        <% include ./partials/order_cart %>

      </div>

      <div class="btn-top">

        <a href="#top">
          <button type="button"  class="btn btn-outline-primary btn-top">Back to top</button>
        </a>

    </div>

    <div class="col-12 customer-msg">

      <% include ./partials/customer_msg %>

    </div>

  </body>

</html>













