<!DOCTYPE html>


<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/navbar %>

    <div>

      <% include ./partials/rest_info %>

    </div>

    <div>

      <% include ./partials/rest_menu %>

    </div>

    <div>

      <% include ./partials/order_cart %>

    </div>

     <div>

      <% include ./partials/login_box %>

    </div>





  </body>


</html>














