.navbar {
  line-height: 6em;
  background-color: #81D6B6;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  min-height: 60px;
  z-index: 1;
}

.navbar h1 {
  flex: 1 0;
  margin: 0;
  font-size: 2em;
  color: white;
}
