.login_box{
  position: fixed;
  top: 60%;
  left: 60%;
}

.btn-top button {
    position: fixed;
    bottom: 20px;
    right: 40px;
}

.btn-register button{
  margin-top: 15px;
  margin-left: 167px;
}
